<div class="header">
	<div class="container">
		<div class="pull-right right-menu">
			<a class="pull-left" href="/users/logout">{{user.name}}</a>
			<a class="pull-left" href="#" class="settings"><img src="images/top_icon_settings.svg" alt="Settings"></a>
		</div>

		<div class="pull-left left-menu">
			<a href="/"><img src="images/top_icon_proposals.svg" alt=""><span>Proposals</span></a>
			<a href="/clients"><img src="images/top_icon_clients.svg" alt=""><span>Clients</span></a>
		</div>
	</div>
</div>