<a href="#" class="proposal-a">
	<div class="proposal-item">
		<div class="left-section">
			<span class="company">SpaceX inc.</span>
			<span class="p-id">NB00345</span>
			<span class="time">4 hours ago</span>
			<span class="name">22 tons of steel offer</span>
			<span class="price">$616,640</span>
		</div>

		<div class="right-section">
			<ul class="items">
				<li><span class="pull-left">Space rocket 28x6m</span><span class="pull-right">4</span></li>
				<li><span class="pull-left">Space rocket 28x6m</span><span class="pull-right">4</span></li>
				<li><span class="pull-left">Space rocket 28x6m</span><span class="pull-right">4</span></li>
				<li><span class="pull-left">Space rocket 28x6m</span><span class="pull-right">4</span></li>
			</ul>
			<div class="gradient"></div>
		</div>
	</div>
</a>