{{>header}}

<div class="container paper-parent">
	<div class="paper">
		<div class="paper-header">
			<div class="left-section">
				<a href="#" class="white-b create-proposal">Create proposal</a>
			</div>
			<div class="search">
				<input class="search-input" type="text">
			</div>
		</div>

		<div class="paper-content">
			<h1>Members area</h1>
			<p>Welcome to members area</p>
		</div>
	</div>
</div>