<div class="login-box">
	<img class="columba-login-logo" src="../images/columba_logo.svg" alt="Columba logo">
	<div class="vertical-center-wrapper login-horizontal-center">
		<div class="vertical-center login-group">
			<h1>Come in</h1>

			{{#if messages.flash.error}}
				<span class="error-message">{{messages.flash.error}}</span>
			{{/if}}
			<form action="login" method="post">
				<div class="text-input">
					<input type="email" name="email" placeholder="Type in your email" value="{{email}}">
				</div>

				<div class="text-input">
					<input type="password" name="password" placeholder="and password.">
				</div>

				<button class="login-submit" type="submit" name="submit">Login</button>
				<a href="register" class="register">or Register</a>
			</form>
		</div>
	</div>
</div>