<div class="login-box">
	<div class="vertical-center-wrapper login-horizontal-center">
		<div class="vertical-center login-group">
			<h1>Register</h1>

			{{errors}}
			<form action="register" method="post">
				<div class="text-input">
					<input type="text" name="name" placeholder="Full name">
				</div>

				<div class="text-input">
					<input type="email" name="email" placeholder="Your email">
				</div>

				<div class="text-input">
					<input type="password" name="password" placeholder="Password">
				</div>

				<div class="text-input">
					<input type="password" name="password2" placeholder="Confirm password">
				</div>

				<button class="login-submit" type="submit" name="submit">Register</button>
				<a href="login" class="register">or Login</a>
			</form>
		</div>
	</div>
</div>