<div class="login-box">
	<img class="columba-login-logo" src="../images/columba_logo.svg" alt="Columba logo">
	<div class="vertical-center-wrapper login-horizontal-center">
		<div class="vertical-center login-group">
			<h1>Register</h1>

			{{#each errors}}
				<span class="error-message">{{msg}}</span>
			{{/each}}

			<form action="register" method="post">
				<div class="text-input">
					<input type="text" name="name" placeholder="Full name" value="{{name}}">
				</div>

				<div class="text-input">
					<input type="email" name="email" placeholder="Your email" value="{{email}}">
				</div>

				<div class="text-input">
					<input type="password" name="password" placeholder="Password">
				</div>

				<div class="text-input">
					<input type="password" name="password2" placeholder="Confirm password">
				</div>

				<button class="login-submit" type="submit" name="submit">Register</button>
				<a href="login" class="register">or Login</a>
			</form>
		</div>
	</div>
</div>