html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #4F4F4F; }

/* Headings */
h1 {
  font-weight: lighter;
  font-size: 2.7em; }

/* Helpers */
.container {
  max-width: 1000px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

/* Centering */
.vertical-center-wrapper {
  display: table;
  height: 100%; }

.vertical-center {
  display: table-cell;
  vertical-align: middle; }

/* Inputs */
input {
  height: 50px;
  border: 0;
  outline: none; }

button {
  outline: none; }

/* Header */
div.header {
  background-color: #08396A;
  height: 150px;
  color: white;
  padding-top: 10px;
  font-size: 11pt; }
  div.header .container {
    overflow: visible; }
  div.header div.user-dropdown .user-name {
    float: right;
    padding-bottom: 6px; }
  div.header div.user-dropdown ul.submenu {
    background-color: #fff;
    width: 100%;
    opacity: 0;
    display: none;
    float: right;
    clear: both;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px; }
    div.header div.user-dropdown ul.submenu li {
      color: #08396A;
      font-weight: normal;
      float: left;
      cursor: pointer;
      width: 100%;
      padding: 10px 14px;
      font-size: 10pt;
      border-top: 1px solid #E8F5FF; }
      div.header div.user-dropdown ul.submenu li:hover {
        color: #1072D4; }
  div.header div.user-dropdown:hover ul.submenu {
    opacity: 1;
    display: block; }
  div.header a {
    color: white;
    text-decoration: none;
    transition: opacity .2s;
    opacity: 1; }
    div.header a.settings {
      margin-top: 1px; }
    div.header a:hover {
      opacity: 0.8; }
  div.header .right-menu {
    margin-top: 8px;
    position: relative; }
    div.header .right-menu a {
      margin-left: 14px; }
  div.header .left-menu {
    margin-top: 6px; }
    div.header .left-menu a {
      float: left;
      margin-right: 20px; }
      div.header .left-menu a img {
        float: left; }
      div.header .left-menu a span {
        margin-top: 9px;
        margin-left: 6px;
        float: left; }

/* Login Box */
.login-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #08396A; }
  .login-box .columba-login-logo {
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
  .login-box .login-horizontal-center {
    width: 40%;
    margin-left: auto;
    margin-right: auto; }
  .login-box h1 {
    color: white; }
  .login-box .login-group {
    /* Autofill */
    /* Placeholder */ }
    .login-box .login-group div.text-input {
      width: 100%; }
      .login-box .login-group div.text-input input {
        width: 100%;
        background-color: transparent;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid #4B6B8B;
        color: white;
        transition: border-bottom .3s; }
        .login-box .login-group div.text-input input:focus {
          border-bottom: 1px solid white; }
    .login-box .login-group button.login-submit {
      float: left;
      height: 40px;
      border: none;
      border-radius: 4px;
      background-color: #1072D4;
      background-image: url("../images/login_icon.svg");
      background-repeat: no-repeat;
      background-position: 20px 10px;
      color: white;
      text-align: left;
      padding: 10px 20px 10px 50px;
      transition: background-color .3s; }
      .login-box .login-group button.login-submit:hover, .login-box .login-group button.login-submit:focus {
        background-color: #127fec; }
    .login-box .login-group div.validation-message {
      padding-top: 4px;
      float: left;
      font-size: 9pt;
      color: white; }
    .login-box .login-group div.validation-messages {
      float: left;
      height: 20px;
      width: 100%; }
    .login-box .login-group span.register {
      cursor: pointer;
      float: left;
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      padding: 10px 20px;
      transition: color .3s;
      outline: none; }
      .login-box .login-group span.register:hover, .login-box .login-group span.register:focus {
        color: white; }
    .login-box .login-group input:-webkit-autofill {
      color: white;
      -webkit-text-fill-color: white;
      -webkit-box-shadow: 0 0 0px 1000px #08396A inset; }
    .login-box .login-group input:-moz-autofill {
      color: white;
      -moz-text-fill-color: white;
      -moz-box-shadow: 0 0 0px 1000px #08396A inset; }
    .login-box .login-group input:-o-autofill {
      color: white;
      -o-text-fill-color: white;
      -o-box-shadow: 0 0 0px 1000px #08396A inset; }
    .login-box .login-group input:-khtml-autofill {
      color: white;
      -khtml-text-fill-color: white;
      -khtml-box-shadow: 0 0 0px 1000px #08396A inset; }
    .login-box .login-group input:focus:-webkit-autofill {
      color: white;
      -webkit-text-fill-color: white;
      -webkit-box-shadow: 0 0 0px 1000px #08396A inset; }
    .login-box .login-group input:focus:-moz-autofill {
      color: white;
      -moz-text-fill-color: white;
      -moz-box-shadow: 0 0 0px 1000px #08396A inset; }
    .login-box .login-group input:focus:-o-autofill {
      color: white;
      -o-text-fill-color: white;
      -o-box-shadow: 0 0 0px 1000px #08396A inset; }
    .login-box .login-group input:focus:-khtml-autofill {
      color: white;
      -khtml-text-fill-color: white;
      -khtml-box-shadow: 0 0 0px 1000px #08396A inset; }
    .login-box .login-group ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .login-box .login-group :-moz-placeholder {
      /* Firefox 18- */
      color: rgba(255, 255, 255, 0.5); }
    .login-box .login-group ::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.5); }
    .login-box .login-group :-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }

/* Paper */
.paper-parent {
  margin-top: -50px; }

.paper {
  float: left;
  width: 100%;
  background-color: white; }
  .paper .paper-header {
    height: 50px;
    background-color: #1072D4; }
    .paper .paper-header div.left-section {
      float: left;
      background-color: white; }
      .paper .paper-header div.left-section a {
        float: left;
        height: 50px;
        line-height: 52px;
        color: #1072D4;
        text-decoration: none;
        padding: 0px 24px;
        font-weight: normal; }
        .paper .paper-header div.left-section a.create-proposal {
          background-image: url("../images/icon_new_proposal.svg");
          background-repeat: no-repeat;
          background-position: 24px center;
          padding: 0 24px 0 54px; }
    .paper .paper-header div.search {
      width: auto;
      overflow: hidden;
      background-color: white; }
      .paper .paper-header div.search .search-input {
        background-color: #1072D4;
        background-image: url("../images/icon_search.svg");
        background-repeat: no-repeat;
        background-position: 20px center;
        width: 100%;
        padding: 0 20px 0 46px;
        color: white;
        transition: background-color .3s; }
        .paper .paper-header div.search .search-input:hover, .paper .paper-header div.search .search-input:focus {
          background-color: #127fec; }
  .paper .paper-content {
    float: left;
    width: 100%;
    padding: 24px; }
    .paper .paper-content a.proposal-a:first-of-type .proposal-item {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .paper .paper-content a.proposal-a:last-of-type .proposal-item {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }

/* Proposal item */
.proposal-item {
  float: left;
  width: 100%;
  height: 80px;
  overflow: hidden;
  border: 1px solid #E8F5FF;
  margin-bottom: -1px;
  transition: border-left .2s; }
  .proposal-item:hover {
    border-left: 1px solid #1072D4; }
    .proposal-item:hover .left-section span.name, .proposal-item:hover .left-section span.price {
      color: #1072D4; }
  .proposal-item .left-section {
    float: left;
    width: 60%;
    height: 100%;
    padding: 16px 16px 0px 16px; }
    .proposal-item .left-section span.company {
      float: left;
      margin-right: 20px;
      font-size: 10pt;
      color: #4F4F4F; }
    .proposal-item .left-section span.p-id {
      float: left;
      font-size: 10pt;
      color: #959595; }
    .proposal-item .left-section span.name {
      float: left;
      clear: left;
      margin-top: 10px;
      font-size: 14pt;
      color: #4F4F4F;
      transition: color .2s; }
    .proposal-item .left-section span.time {
      float: right;
      clear: none;
      font-size: 10pt;
      color: #959595; }
    .proposal-item .left-section span.price {
      float: right;
      clear: right;
      margin-top: 10px;
      font-size: 14pt;
      color: #4F4F4F;
      transition: color .2s; }
  .proposal-item .right-section {
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
    background-color: #F4FAFF;
    padding: 16px 16px 0px 16px; }
    .proposal-item .right-section ul.items {
      list-style: none;
      padding: 0px;
      margin: 0px; }
      .proposal-item .right-section ul.items li {
        float: left;
        width: 100%;
        font-size: 10pt;
        margin-bottom: 6px;
        color: #959595; }
    .proposal-item .right-section div.gradient {
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: 30px;
      background: -moz-linear-gradient(top, rgba(244, 250, 255, 0) 0%, #f4faff 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 250, 255, 0)), color-stop(100%, #f4faff));
      background: -webkit-linear-gradient(top, rgba(244, 250, 255, 0) 0%, #f4faff 100%);
      background: -o-linear-gradient(top, rgba(244, 250, 255, 0) 0%, #f4faff 100%);
      background: -ms-linear-gradient(top, rgba(244, 250, 255, 0) 0%, #f4faff 100%);
      background: linear-gradient(to bottom, rgba(244, 250, 255, 0) 0%, #f4faff 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f4faff', endColorstr='#f4faff',GradientType=0 ); }

/* Animation helpers */
.prepare .header .right-menu, .prepare .header .left-menu {
  opacity: 0; }
.prepare.bigHeader .header {
  height: 3000px; }
.prepare .container.paper-parent {
  opacity: 0;
  margin-top: 300px; }
.prepare .login-group {
  opacity: 0; }
