$color-light-gray: #EEEEEE;
$color-lighter-gray: #959595;
$color-dark-gray: #4F4F4F;
$color-dark-blue: #08396A;
$color-lighter-dark-blue: #4B6B8B;
$color-blue: #1072D4;
$color-blue-light: #F4FAFF;

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
	background-color: $color-light-gray;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: $color-dark-gray;
}

button {
	border: none;
	background: none;
	margin: 0px;
	padding: 0px;
}

/* Headings */
h1 {
	font-weight: lighter;
	font-size: 2.7em;
}

/* Helpers */
.container {
	max-width: 1000px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.hidden {
	display: none;
}

/* Centering */
.vertical-center-wrapper {
	display: table;
	height: 100%;
}
.vertical-center {
	display: table-cell;
	vertical-align: middle;
}

/* Inputs */
input {
	height: 50px;
	border:0;
	outline:none;
}
button {
	outline:none;
}

/* Header */
div.header {
	background-color: $color-dark-blue;
	height: 150px;
	color: white;
	padding-top: 10px;
	font-size: 11pt;

	.container {
		overflow: visible;
	}

	div.user-dropdown {

		.user-name {
			float: right;
			padding-bottom: 6px;
		}

		ul.submenu {
			position: absolute;
			z-index: 20;
			top: 25px;
			right: 0px;
			width: 120px;
			background-color: #fff;
			opacity: 0;
			display: none;
			float: right;
			clear: both;
			list-style: none;
			padding-left: 0px;
			margin-bottom: 0px;
			margin-top: 0px;

			li {
				color: $color-dark-blue;
				font-weight: normal;
				float: left;
				cursor: pointer;
				width: 100%;
				padding: 10px 14px;
				font-size: 10pt;
				border-top: 1px solid #E8F5FF;

				&:hover {
					//border-left: 2px solid $color-blue;
					color: $color-blue;
				}
			}
		}

		&:hover {
			ul.submenu {
				opacity: 1;
				display: block;
			}
		}
	}

	a {
		color: white;
		text-decoration: none;
		transition: opacity .2s;
		opacity: 1;

		&.settings {
			margin-top: 1px;
		}

		&:hover {
			opacity: 0.8;
		}
	}

	.right-menu {
		margin-top: 8px;
		position: relative;

		a {
			margin-left: 14px;
		}
	}

	.left-menu {
		margin-top: 6px;

		a {
			float: left;
			margin-right: 20px;

			img {
				float: left;
			}
			span {
				margin-top: 9px;
				margin-left: 6px;
				float: left;
			}
		}
	}
}

/* Login Box */
.login-box {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: $color-dark-blue;

	.columba-login-logo {
		position: absolute;
		width: 60px;
		top: 60px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.login-horizontal-center {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}

	h1 {
		color: white;
	}

	.login-group {
		div.text-input {
			width: 100%;
			input {
				width: 100%;
				background-color: transparent;
				border-left: none;
				border-right: none;
				border-top: none;
				border-bottom: 1px solid $color-lighter-dark-blue;
				color: white;
				transition: border-bottom .3s;
				&:focus {
					border-bottom: 1px solid white;
				}
			}
		}
		button.login-submit {
			float: left;
			height: 40px;
			border: none;
			border-radius: 4px;
			background-color: $color-blue;
			background-image: url('../images/login_icon.svg');
			background-repeat: no-repeat;
			background-position: 20px 10px;
			color: white;
			text-align: left;
			padding: 10px 20px 10px 50px;
			transition: background-color .3s;
			&:hover, &:focus {
				background-color: lighten($color-blue, 5%);
			}
		}

		div.validation-message {
			padding-top: 4px;
			float: left;
			font-size: 9pt;
			color: white;
		}

		div.validation-messages {
			float: left;
			height: 20px;
			width: 100%;
		}

		span.register {
			cursor: pointer;
			float: left;
			color: rgba(255,255,255,0.5);
			text-decoration: none;
			padding: 10px 20px;
			transition: color .3s;
			outline:none;
			&:hover, &:focus {
				color: white;
			}
		}

		/* Autofill */

			input:-webkit-autofill {
				color: white;
			    -webkit-text-fill-color: white;
			    -webkit-box-shadow: 0 0 0px 1000px $color-dark-blue inset;
			}
			input:-moz-autofill {
				color: white;
			    -moz-text-fill-color: white;
			    -moz-box-shadow: 0 0 0px 1000px $color-dark-blue inset;
			}
			input:-o-autofill {
				color: white;
			    -o-text-fill-color: white;
			    -o-box-shadow: 0 0 0px 1000px $color-dark-blue inset;
			}
			input:-khtml-autofill {
				color: white;
			    -khtml-text-fill-color: white;
			    -khtml-box-shadow: 0 0 0px 1000px $color-dark-blue inset;
			}

			input:focus:-webkit-autofill {
				color: white;
			    -webkit-text-fill-color: white;
			    -webkit-box-shadow: 0 0 0px 1000px $color-dark-blue inset;
			}
			input:focus:-moz-autofill {
				color: white;
			    -moz-text-fill-color: white;
			    -moz-box-shadow: 0 0 0px 1000px $color-dark-blue inset;
			}
			input:focus:-o-autofill {
				color: white;
			    -o-text-fill-color: white;
			    -o-box-shadow: 0 0 0px 1000px $color-dark-blue inset;
			}
			input:focus:-khtml-autofill {
				color: white;
			    -khtml-text-fill-color: white;
			    -khtml-box-shadow: 0 0 0px 1000px $color-dark-blue inset;
			}

			/* Placeholder */
			::-webkit-input-placeholder {
			   color: rgba(255,255,255,0.5);
			}

			:-moz-placeholder { /* Firefox 18- */
			   color: rgba(255,255,255,0.5);
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   color: rgba(255,255,255,0.5);
			}

			:-ms-input-placeholder {
			   color: rgba(255,255,255,0.5);
			}
	}
}

/* Paper */
.paper-parent {
	margin-top: -50px;
}

$paper-header-height: 50px;

.paper {
	float: left;
	width: 100%;
	background-color: white;

	.paper-header {
		height: $paper-header-height;
		background-color: $color-blue;

		div.left-section {
			float: left;
			background-color: white;

			a, div {
				cursor: pointer;
				float: left;
				height: $paper-header-height;
				line-height: $paper-header-height + 2;
				color: $color-blue;
				text-decoration: none;
				padding: 0px 24px;
				font-weight: normal;

				&.create-proposal {
					background-image: url('../images/icon_new_proposal.svg');
					background-repeat: no-repeat;
					background-position: 24px center;
					padding: 0 24px 0 54px;
				}
			}
		}
		div.search {
			width: auto;
			overflow: hidden;
			background-color: white;

			.search-input {
				background-color: $color-blue;
				background-image: url('../images/icon_search.svg'); 
				background-repeat: no-repeat;
				background-position: 20px center;
				width: 100%;
				padding: 0 20px 0 46px;
				color: white;
				transition: background-color .3s;

				&:hover, &:focus {
					background-color: lighten($color-blue, 5%);
				}
			}
		}
	}

	.paper-content {
		float: left;
		width: 100%;
		padding: 24px;

		.proposal-a {
			cursor: pointer;
		}

		.proposal-a:first-of-type .proposal-item {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}

		.proposal-a:last-of-type .proposal-item {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}
}

/* Proposal Page */
.proposal-wrapper {
	position: absolute;
	//top: 0px;
	//background-color: rgba(8, 57, 106, 0.8);
	//width: 100%;
	//height: 100%;
	display: none;
	.proposal-paper {
		position: fixed;
		left: 0;
		right: 0;
		top: 100px;
		max-width: 1000px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;

		.p-header {
			background-color: white;
			float: left;
			width: 100%;
			height: 50px;

			.status {
				color: $color-blue;
				font-size: 10pt;
				line-height: 50px;
				padding-left: 34px;
			}

			.close-proposal {
				height: 50px;
				width: 50px;
				background-color: $color-blue;
				background-image: url('../images/close_proposal_icon.svg');
				background-position: center center;
				background-repeat: no-repeat;
				cursor: pointer;
				transition: background-color .3s;

				&:hover {
					background-color: lighten($color-blue, 5%);
				}
			}

			.p-header-button {
				cursor: pointer;
				color: $color-blue;
				line-height: 50px;
				font-weight: normal;
				padding: 0px 20px;
				transition: background-color .3s;

				&:hover {
					background-color: #F2F2F2;
				}
			}

			.preview-proposal {
				background-image: url('../images/preview_proposal_icon.svg');
				background-repeat: no-repeat;
				background-position: 20px center;
				padding-left: 50px;
			}

			.delete-proposal {
				background-image: url('../images/icon_delete_gray.svg');
				background-repeat: no-repeat;
				background-position: center center;
				height: 100%;
				padding-left: 30px;
				transition: background-image .2s;
				&:hover {
					background-image: url('../images/icon_delete_blue.svg');
				}
			}
		}

		.proposal-content {
			width: 100%;
			min-height: 700px;
			background-color: #fff;
			float: left;

			.p-input {
				padding: 10px 20px 0px 20px;
				height: 70px;
				position: relative;

				span.desc {
					float: left;
					margin-left: 14px;
					font-size: 9pt;
					color: $color-lighter-gray;
				}

				input {
					float: left;
					clear: left;
					width: 100%;
					font-size: 15pt;
					padding-left: 14px;
					padding-top: 10px;
					padding-bottom: 10px;
					height: auto;
					border-bottom: 1px solid $color-light-gray;
					transition: border-bottom .2s, color .2s;

					&:hover, &:focus {
						border-bottom: 1px solid $color-blue;
					}
				}

				div.inputtext {
					position: relative;
					float: left;
					clear: left;
					width: 100%;
					height: 45px;
					padding-left: 14px;
					padding-top: 10px;
					padding-bottom: 10px;
					border-bottom: 1px solid $color-light-gray;
					transition: border-bottom .2s, color .2s;

					&:hover, &:focus {
						border-bottom: 1px solid $color-blue;
					}

					div.clickarea {
						cursor: pointer;
						padding-top: 10px;
						position: absolute;
						top: 0px;
						left: 0px;
						width: 100%;
						height: 100%;

						&:hover {
							button.text-button {
								color: $color-blue;
								background-color: lighten($color-blue, 50%);
							}
						}
					}

					span.text {
						font-size: 15pt;
					}

					button.text-button {
						float: right;
						font-weight: normal;
						font-size: 10pt;
						margin-right: 10px;
						margin-top: 0px;
						color: $color-blue;
						padding: 4px 6px;
						border-radius: 2px;
						transition: background-color .2s;

						&.cancel {
							color: $color-lighter-gray;
							&:hover {
								color: $color-lighter-gray;
								background-color: lighten($color-lighter-gray, 37%);
							}
						}

						&:hover {
							color: $color-blue;
							background-color: lighten($color-blue, 50%);
						}
					}
				}

				&.smaller {
					width: 30%;

				}
				&.bigger {
					width: 70%;
					input {
						margin-right: 100px;
						padding-right: 10px;
					}
				}

				div.paper-down {
					position: absolute;
					display: none;
					margin-left: -14px;
					top: 43px;
					z-index: 10;
					width: 100%;
					min-height: 100px;
					background-color: $color-blue-light;
					border: 1px solid darken($color-blue-light, 6%);
					padding: 10px 0px 0px 14px; 

					div.input-group {
						float: left;
						width: 50%;
						padding-right: 14px;
						input {
							font-size: 12pt;
						}

						&.big {
							width: 100%;
							input {
								font-size: 15pt;
								padding-top: 10px;
								padding-bottom: 10px;
							}
						}
					}

					span.desc {
						margin-left: 0px;
					}

					input {
						background-color: transparent;
						box-sizing: border-box;
						border-bottom: 1px solid darken($color-blue-light, 6%);
						padding: 6px 0px;
						margin-bottom: 20px;
						margin-right: 0px;
						&:hover, &:focus {
							border-bottom: 1px solid $color-blue;
						}
					}
				}
			}
		}
	}
}

/* Proposal item */
.proposal-item {
	float: left;
	width: 100%;
	height: 80px;
	overflow: hidden;
	border: 1px solid #E8F5FF;
	margin-bottom: -1px;
	transition: border-left .2s;

	&:hover {
		//background-color: #F4FAFF;
		border-left: 1px solid $color-blue;
		.left-section span.name, .left-section span.price {
			color: $color-blue;
		}
	}

	.left-section {
		float: left;
		width: 60%;
		height: 100%;
		padding: 16px 16px 0px 16px;

		span.company {
			float: left;
			margin-right: 20px;
			font-size: 10pt;
			color: $color-dark-gray;
		}
		span.p-id {
			float: left;
			font-size: 10pt;
			color: $color-lighter-gray;
		}
		span.name {
			float: left;
			clear: left;
			margin-top: 10px;
			font-size: 14pt;
			color: $color-dark-gray;
			transition: color .2s;
		}

		span.time {
			float: right;
			clear: none;
			font-size: 10pt;
			color: $color-lighter-gray;
		}
		span.price {
			float: right;
			clear: right;
			margin-top: 10px;
			font-size: 14pt;
			color: $color-dark-gray;
			transition: color .2s;
		}
	}

	.right-section {
		position: relative;
		float: left;
		width: 40%;
		height: 100%;
		background-color: #F4FAFF;
		padding: 16px 16px 0px 16px;

		ul.items {
			list-style: none;
			padding: 0px;
			margin: 0px;

			li {
				float: left;
				width: 100%;
				font-size: 10pt;
				margin-bottom: 6px;
				color: $color-lighter-gray;
			}
		}
		div.gradient {
			position: absolute;
			left: 0px;
			bottom: 0px;
			width: 100%;
			height: 30px;
			background: -moz-linear-gradient(top, rgba(244,250,255,0) 0%, rgba(244,250,255,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,250,255,0)), color-stop(100%,rgba(244,250,255,1)));
			background: -webkit-linear-gradient(top, rgba(244,250,255,0) 0%,rgba(244,250,255,1) 100%);
			background: -o-linear-gradient(top, rgba(244,250,255,0) 0%,rgba(244,250,255,1) 100%);
			background: -ms-linear-gradient(top, rgba(244,250,255,0) 0%,rgba(244,250,255,1) 100%);
			background: linear-gradient(to bottom, rgba(244,250,255,0) 0%,rgba(244,250,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f4faff', endColorstr='#f4faff',GradientType=0 );
		}
	}
}

/* Animation helpers */

.prepare {
	.header .right-menu, .header .left-menu {
		opacity: 0;
	}

	&.bigHeader .header {
		height: 3000px;
	}

	.container.paper-parent {
		opacity: 0;
		margin-top: 300px;
	}

	.login-group {
		opacity: 0;
	}
}

.proposal-direct {
	.proposal-wrapper {
		display: block;
	}
}
