<div class="proposal-wrapper">
	<div class="proposal-paper">
		<div class="p-header">
			<div class="pull-left status">Status is here</div>

			<a class="pull-right close-proposal" href="#/" ng-click="transitionService.CloseProposal()"></a>
			<div class="pull-right p-header-button preview-proposal">Preview proposal</div>
			<div class="pull-right p-header-button delete-proposal" ng-click="deleteProposal()"></div>
		</div>

		<div class="proposal-content">
			<form action="">
				<div class="pull-left p-input smaller" id="offerId">
					<span class="desc">Offer ID</span>
					<input type="text" value="{{ proposalService.loadedProposal.proposal.proposalId }}">
				</div>
				<div class="pull-left p-input bigger" id="supplier">
					<span class="desc">Supplier (you)</span>
					<div class="inputtext">
						<span class="text" ng-bind="proposalService.loadedProposal.supplier.name"></span> 
						<button class="text-button trigger" type='button' ng-click="transitionService.OpenDetail('supplier')">Edit</button>
						<button class="text-button hidden" type='button' ng-click="closeEdit('supplier', true)">Save</button>
						<button class="text-button cancel hidden" type='button' ng-click="closeEdit('supplier', false)">Cancel</button>

						<div class="paper-down">
							<div class="input-group big">
								<span class="desc">Supplier Name</span>
								<input type="text" ng-model="proposalService.loadedProposal.supplier.name">
							</div>
							<div class="input-group">
								<span class="desc">Street, house number</span>
								<input type="text" ng-model="proposalService.loadedProposal.supplier.address">
							</div>
							<div class="input-group">
								<span class="desc">City</span>
								<input type="text" ng-model="proposalService.loadedProposal.supplier.city">
							</div>
							<div class="input-group">
								<span class="desc">Zip Code</span>
								<input type="text" ng-model="proposalService.loadedProposal.supplier.zipCode">
							</div>
							<div class="input-group">
								<span class="desc">Country</span>
								<input type="text" ng-model="proposalService.loadedProposal.supplier.country">
							</div>
							<div class="input-group">
								<span class="desc">VAT Number</span>
								<input type="text" ng-model="proposalService.loadedProposal.supplier.vatNumber">
							</div>
							<div class="input-group">
								<span class="desc">Phone Number</span>
								<input type="text" ng-model="proposalService.loadedProposal.supplier.phone">
							</div>
						</div>
					</div>

				</div>
				<div class="pull-left p-input smaller" id="issueDate">
					<span class="desc">Issue date</span>
					<input type="text" value="12. 7. 2015">
				</div>
				<div class="pull-left p-input bigger" id="supplier">
					<span class="desc">Customer</span>
					<input type="text" value="SpaceX inc.">
				</div>

			</form>
		</div>
	</div>
</div>