<div class="proposal-wrapper">
	<div class="proposal-paper">
		<div class="p-header">
			<div class="pull-left status">Status is here</div>

			<a class="pull-right close-proposal" href="#/"></a>
			<div class="pull-right p-header-button preview-proposal">Preview proposal</div>
		</div>

		<div class="proposal-content">
			<form action="">
				<div class="pull-left p-input smaller" id="offerId">
					<span class="desc">Offer ID</span>
					<input type="text" value="{{ proposalService.loadedProposal.proposalId }}">
				</div>
				<div class="pull-left p-input bigger" id="supplier">
					<span class="desc">Supplier (you)</span>
					<div class="inputtext">
						<span class="text">Nocturn Bits</span> 
						<button class="text-button trigger" ng-click="transitionService.OpenDetail('supplier')">Edit</button>
						<button class="text-button hidden" ng-click="transitionService.CloseDetail('supplier', true)">Save</button>
						<button class="text-button cancel hidden" ng-click="transitionService.CloseDetail('supplier', false)">Cancel</button>

						<div class="paper-down">
							<div class="input-group big">
								<span class="desc">Supplier Name</span>
								<input type="text" value="Nocturn Bits">
							</div>
							<div class="input-group">
								<span class="desc">Street, house number</span>
								<input type="text" value="2515 Briercliff Road">
							</div>
							<div class="input-group">
								<span class="desc">City</span>
								<input type="text" value="Rego Park Queens">
							</div>
							<div class="input-group">
								<span class="desc">Zip Code</span>
								<input type="text" value="11734">
							</div>
							<div class="input-group">
								<span class="desc">Country</span>
								<input type="text" value="United States">
							</div>
							<div class="input-group">
								<span class="desc">VAT Number</span>
								<input type="text" value="US12345678">
							</div>
							<div class="input-group">
								<span class="desc">Phone Number</span>
								<input type="text" value="718-637-8624">
							</div>
						</div>
					</div>

				</div>
				<div class="pull-left p-input smaller" id="issueDate">
					<span class="desc">Issue date</span>
					<input type="text" value="12. 7. 2015">
				</div>
				<div class="pull-left p-input bigger" id="supplier">
					<span class="desc">Customer</span>
					<input type="text" value="SpaceX inc.">
				</div>

			</form>
		</div>
	</div>
</div>