<!DOCTYPE html>
<html ng-app="columbaApp">
    <head>
        <title>Columba</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,300,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='/angular/stylesheets/normalize.css' />
        <link rel='stylesheet' href='/angular/stylesheets/styles.css' />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/angular/images/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/angular/images/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/angular/images/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/angular/images/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/angular/images/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/angular/images/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/angular/images/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/angular/images/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/angular/images/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/angular/images/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/angular/images/favicon/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="/angular/images/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/angular/images/favicon/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/angular/images/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/angular/images/favicon/manifest.json">
        <link rel="shortcut icon" href="/angular/images/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/angular/images/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="/angular/images/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <script src="/bower_components/zeptojs/src/zepto.js"></script>

        <!-- load Angular -->
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="/bower_components/angular-route/angular-route.min.js"></script>
        <script src="/bower_components/ngstorage/ngStorage.min.js"></script>
        <script src="/bower_components/greensock/src/minified/TweenMax.min.js"></script>
        <script src="/angular/min/app-min.js"></script>
    </head>
    <body>
        <div class="blueHeader" style="position: absolute; width: 100%; height: 150px; background-color: #08396A; z-index: -1;"></div>
        <div ng-view class="app-wrapper" ng-class="transitionService.animPrepare"></div>
    </body>
</html>