<app-header ng-cloak></app-header>

<div class="container paper-parent">
	<div class="paper">
		<div class="paper-header">
			<div class="left-section">
				<div ng-click="createProposal()" class="white-b create-proposal">Create proposal</div>
			</div>
			<div class="search">
				<input class="search-input" type="text">
			</div>
		</div>

		<div class="paper-content">
			<proposal-item ng-repeat="oneProposal in proposals" c-proposal="oneProposal" open-method="openProposal()"></proposal-item>
		</div>
	</div>
</div>

<proposal></proposal>