<div class="login-box" ng-cloak>
	<img class="columba-login-logo" src="/angular/images/columba_logo.svg" alt="Columba logo">
	<div class="vertical-center-wrapper login-horizontal-center">
		<div class="vertical-center login-group">
			<h1>Come in</h1>

			<form name="loginform" ng-submit="loginform.$valid && login()" novalidate>
				<div class="text-input">
					<input ng-model="$parent.email" type="email" name="email" placeholder="Type in your email" required>
					<div class="validation-messages">
						<div ng-show="loginform.$submitted">
					    	<div class="validation-message" ng-show="loginform.email.$error.required">Email is required.</div>
					    </div>
				    </div>
				</div>

				<div class="text-input" style="margin-bottom: 30px;">
					<input ng-model="$parent.password" type="password" name="password" placeholder="and password." required>
					<div class="validation-messages">
						<div ng-show="loginform.$submitted">
					    	<div class="validation-message" ng-show="loginform.password.$error.required">Password is required.</div>
					    </div>
				    </div>
				</div>

				<button class="login-submit" type="submit" name="submit">Login</button>
				<span ng-click="transitionService.GoToPage('/register')" class="register">or Register</span>
			</form>
		</div>
	</div>
</div>